<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21678438177-9t5nfatd4ljnrrcpesm6cvj1bhd789ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21678438177-9t5nfatd4ljnrrcpesm6cvj1bhd789ev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21678438177-o648b3hbce8eosd7d5kh2mpo7fl8dn6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkrvEp753bf2tUuH1uTQ3cnyH5AAfQNCg</string>
	<key>GCM_SENDER_ID</key>
	<string>21678438177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yoteshinMoviesAsm</string>
	<key>PROJECT_ID</key>
	<string>fir-yoteshin</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-yoteshin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21678438177:ios:22a60bd03c9b81fb9f3060</string>
</dict>
</plist>